{{> head }}
{{> navbar }}
    <div class="container">
        <div class="row">
            <div class="col-8">
                <h1> about from me</h1>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eos, adipisci reiciendis? Quaerat iure voluptatibus error porro reiciendis repellat accusantium sequi eveniet tenetur corporis adipisci doloremque omnis amet ea quae placeat, sit nam, impedit, architecto explicabo. Perspiciatis laboriosam voluptas ipsam, quis aliquid, at velit modi iure cupiditate quia perferendis maiores corrupti?</p>
            </div>
            
            <div class="col-4">
                <img src="assets/img/img.jpg" alt="" class="img-thumbnail">
            </div>
        </div>
    </div>
{{> footer  }}